@import '../../index';

.Messages {
    background: $accent-three;
    min-height: 90vh;
    padding: 1rem 1.25rem;
    overflow: scroll;

    h1 {
        font-size: 1.2em;
        padding-bottom: 1rem;
        color: $secondary-color;
        font-weight: bolder;
    }
}

.Messages::-webkit-scrollbar {
    overflow: scroll;
    width: 0px;
    height: 0px;
}

.MessageCard::-webkit-scrollbar {
    overflow: scroll;
    width: 0px;
    height: 0px;
}
