@import '../../index';

.ProfileTab {
  background: $primary-color;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
  border-bottom: 1px solid $accent-three;

  h1 {
    font-weight: bolder;
    cursor: pointer;
  }
}
