@import '../../index';

main {
  background: $primary-color;
  min-height: 80vh;

  .HomepageSecondary {
    display: grid;
    padding-top: 1rem;
    min-height: 80vh;
    max-width: 85%;
    padding: .75rem;
    margin: 0 auto;

    .HomepageHeader {
      display: flex;
      flex-direction: column;
      height: 43rem;

      .HeaderText {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-weight: bolder;
          font-size: 3.5rem;
        }

        p {
          font-size: .95rem;
          max-width: 31rem;
          text-align: center;
        }
      }

      .HeaderBody {
        max-width: 100%;
        height:  100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .HeaderContainer {
          width: 62rem;
          height: 34rem;
          position: relative;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          #Ghost {
            position: absolute;
            width: 15rem;
            height: 15rem;
            left: 0;
            bottom: 5rem;
            animation: ghost 1.5s linear  infinite;
            animation-direction: alternate-reverse;
          }

          #Moon {
            width: 12rem;
            height: 12rem;
            position: absolute;
            top: 0;
            right: 0;
          }

          #CityScape {
            width: 25rem;
            height: 25rem;
            z-index: 2;
          }

          #Building {
            width: 20rem;
            height: 20rem;
            position: absolute;
            right: 35%;
            bottom: 0;
            z-index: 4;
          }

          #Graveyard {
            width: 15rem;
            height: 15rem;
            position: absolute;
            left: 12%;
          }

          #Rip {
            width: 16rem;
            height: 16rem;
            position: absolute;
            left: 0;
            bottom: 2rem;
            z-index:9;
          }

          #Star3 {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            top: 8rem;
            right: 25rem;
            transform: rotate(-2deg);
          }

          #Star4 {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: 3rem;
            right: 15rem;
            transform: rotate(-10deg);
          }

          #Star5 {
            width: 1.75rem;
            height: 1.75rem;
            position: absolute;
            top: 3rem;
            right: 37rem;
            transform: rotate(-10deg);
          }

          #Star6 {
            width: 2rem;
            height: 2rem;
            position: absolute;
            bottom: 18rem;
            right: 6.5rem;
            transform: rotate(-10deg);
          }

          #Factory {
            position: absolute;
            width: 25rem;
            height: 25rem;
            right: 13rem;
            bottom: 5rem;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1)
          }

          #Star7 {
            width: 2.18rem;
            height: 2.18rem;
            position: absolute;
            top: 10rem;
            right: 40rem;
            transform: rotate(-10deg);
          }
        }
      }
    }

    .HomepageBody {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      padding: 5rem 0 2rem 0;

      .HomepageSubBody {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        display: flex;

        h2 {
          font-size: 2.5rem;
          padding-bottom: 1rem;
          font-weight: bolder;
          align-self: center;
        }

        p {
          font-size: .95rem;
          max-width: 30rem;
          padding-bottom: .75rem;
        }

        .HomepageRegister {
          display: flex;
          padding-top: 1rem;

          button {
            border: 1px solid $accent-three;
            border-radius: 3px;
            font-size: 1.15rem;
            padding: .75rem 6rem;
            text-decoration: none;
            cursor: pointer;
            background: $accent-one;
            font-weight: bolder;

          }

          button:hover {
          	background: #32C4E2;
            transition: .7s;
          }

        }
      }
    }

    .HomepageGraphic {
      display: flex;
      align-items: center;
      width: 25rem;
      position: relative;
      height: 28rem;

      #Rip {
        width: 14rem;
        height: 14rem;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index:9;
      }

      #Responsive {
        width: 28rem;
        height: 28rem;
        top: 0;
        z-index: 8;
        left: 0;
        position: absolute;
      }

      #Spooker {
        position: absolute;
        width: 9rem;
        height: 9rem;
        left: 8.5rem;
        bottom: 3rem;
        transform: rotate(25deg);
        z-index: 9;
      }
    }
  }
}

@keyframes ghost {
  from{
    transform: translate(0px,0px)
  }
  to{
    transform: translate(0px, -70px);
  }
}
