@import '../../index';

.MatchModal {
  width: 60vw;
  height: 80vh;
  background: $primary-color;
  position: absolute;
  top: 8%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  .MatchModalHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h1 {
      font-family: $secondary-font;
      font-size: 2rem;
      padding: 0 0 1rem 0;
    }

    h2 {
      font-size: .9rem;
    }
  }

  .MatchModalBody {
    display: flex;
    justify-content: space-evenly;
    width: 20rem;
    padding-top: 2rem;

    img {
      width: 7rem;
      height: 7rem;
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  .MatchModalFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 10rem;
    padding-top: 2rem;

    #SwipeButton {
      background: none;
      color: $accent-three;
      border: 1px solid $accent-one;
    }

    #SwipeButton:hover {
      background: $accent-one;
      transition: .3s;
    }


  }
}
