@import '../../index';

.Swiper {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 31rem;
    overflow: scroll;
    position: absolute;
    border-radius: 10px;
    border: 1px solid gray;
    background: $secondary-color;
    // box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);

    .SwiperHeader {

        img {
            height: 20rem;
            width: 100%;
        }
    }

    .SwiperInfo {
      padding: 0 1rem;

        h1 {
            font-size: 1.55rem;
            color: $accent-three;
            padding: .25rem 0;
        }

        h3 {
            font-size: 1.1em;
            color: $accent-three;
        }

    }

    .SwiperBio {
        display: flex;
        width: 100%;
        padding: 0 1rem;

        p {
            font-size: .9em;
            color: $accent-three;
        }
    }

    .SwipeBar {
      position: sticky;
      bottom: 0;
    }
}

.Swiper::-webkit-scrollbar {
    overflow: scroll;
    width: 0px;
    height: 0px;
}
