@import '../../index';

.Questionnaire {
  width: 100vw;

  .QuestionnaireSecondary {
    height: 80vh;
    max-width: 85vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
