@import '../../index';

.SwipeBar {
    width: 100%;
    background: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .75rem .5rem;

    img {
        width: 4rem;
        height: 4rem;
        background-color: white;
        border-radius: 50%;
    }
}
