@import '../../index';

nav {
  min-width: 100%;
  padding: 1rem .75rem .75rem .75rem;

  .NavigationSecondary {
    min-height: 8vh;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: $secondary-font;
      font-size: 2rem;
      color: $accent-three;
    }

    button {
      border: 1px solid $accent-three;
      border-radius: 3px;
      font-size: 1.15rem;
      padding: .75rem 2rem;
      text-decoration: none;
      cursor: pointer;
      background: $accent-one;
      font-weight: bolder;
    }
  }
}
