@import '../../index';

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  padding: 3rem 5rem;

  h1 {
    font-family: $secondary-font;
    font-size: 3rem;
  }
}
