@import '../../index';

#RegisterBackground {
  background-image: url('https://mocah.org/uploads/posts/4552156-artwork-fantasy-art-halloween-pumpkin-forest.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
