@import '../../index';

footer {
  background: $primary-color;
  min-height: 10vh;
  color: $accent-three;

  .FooterContainer {
    max-width: 70%;
    height: 100%;
    padding: 1rem 1rem 2rem 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

     li {
       list-style: none;
       font-weight: 300;
       font-size: .85rem;
       cursor: pointer;
     }

     li:hover {
       font-weight: bolder;
     }
   }

  }
}

#Header {
  font-weight: bolder;
  margin-bottom: .5rem;
}

#Header:hover {
  font-weight: bolder;
}
