@import '../../index';

.GhostForm {
  min-width: 50%;
  height: 70%;
  background: blue;
  border-radius: 5px;

  .UserForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
  }
}
