$primary-color: #0A0923;
$secondary-color: #1E028C;
$accent-one: #76E2F8;
$accent-two: #434857;;
$accent-three: #EEF0F2;

$primary-font: 'M PLUS Rounded 1c', sans-serif;
$secondary-font: 'This Is The Future';

button {
  border: 1px solid $accent-three;
  border-radius: 3px;
  color: $primary-color;
  font-size: 1.15rem;
  padding: .75rem 2rem;
  text-decoration: none;
  cursor: pointer;
  font-family: $primary-font;
}



// Maybe Later? #434857;
