$primary-color: #141414;
$secondary-color: #1E028C;
$accent-one: #7289DA;
$accent-two: #2C19C1;
$accent-three: #EEF0F2;

$primary-font: 'Didact Gothic', sans-serif;
$secondary-font: 'This Is The Future';
