@import '~antd/dist/antd.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
  box-sizing: border-box;
	line-height: 1.25;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: white;
	letter-spacing: -.5px;
}

.App {
	min-height: 100vh;
	background: #0A0923;
}

button {
	font-family: 'Source Sans Pro', sans-serif;
	background: #76E2F8;
	color: black;
	font-weight: bolder;
}

.ant-checkbox-checked .ant-checkbox-inner {
	background: #7289da;
	border: none;
}

@font-face {
  font-family: 'This Is The Future';
  src: url('./fonts/This Is The Future.ttf') format('truetype');
}

.ant-checkbox-inner {
  margin-right: .5rem;
}

#Arrow {
  width: 3rem;
  height: 3rem;
	align-self: flex-end;
}
