@import '../../index';

.UserEdit {
  background-image: linear-gradient(to top, #4D32E2 0%, #1cb5e0 100%);
  width: 21rem;
  height: 31rem;
  overflow: scroll;
  position: relative;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12), 0px 4px 5px 0px rgba(0, 0, 0, 0.12), 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
