@import '../../index';

.UserEdit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 31rem;
    position: relative;
    border-radius: 10px;
    text-align: center;
    background: $secondary-color;
    border: 1px solid $accent-three;

    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.12),
        0px 4px 5px 0px rgba(0, 0, 0, 0.12),
        0px 1px 10px 0px rgba(0, 0, 0, 0.2);

    input {
        background-color: rgba(0, 0, 0, .2);
        border: 1px solid #EEF0F2;
        border-radius: 3px;
    }

    .UserEditPhoto {

        img {
            height: 15rem;
            width: 15rem;
            border-radius: 50%;
            margin-bottom: 2rem;
        }
    }

    .UserEditName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h1 {
          font-size: 1.5rem;
          font-weight: bolder;
        }
    }

    .UserEditBio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 1rem;
        width: 100%;
    }

    .UserEditButton {

      button {
        background: none;
        border: 1px solid $accent-one;
        color: $accent-three;
      }

      button:hover {
        background: $accent-one;
        transition: .5s;
      }
    }
}
