@import '../../index';

.Discovery {
  background: $secondary-color;
  border-right: 1px solid gray;

  h2 {
    color: $accent-three;
    font-weight: bolder;
  }

  .DiscoverySettings {
    padding: 1rem 1.25rem;

    .DiscoveryHeader {
      display: flex;
      justify-content: space-between;

      h3 {
        color: $accent-three;
      }
    }

    .NavigationButton {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      min-height: 20vh;

      #LogoutButton {
        background: none;
        border: 1px solid $accent-one;
        color: $accent-three;
      }

      #LogoutButton:hover {
        background: $accent-one;
        transition: .5s;
      }
    }
  }

  .ant-slider-track {
    background-color: $accent-two;
  }

  .ant-slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -10px;
    border: 2px solid $accent-two;
  }
}
