@import '../../index';

.Message {
	width: 100%;
	display: flex;
	margin-bottom: 1.25rem;
	position: relative;

	.SendorMessage {
		width: 100%;
		border-radius: 25px;
		display: flex;
		justify-content: flex-end;

		p {
			min-width: 5rem;
			background: blue;
			color: white;
			padding: 10px 20px;
			border-radius: 25px;
		}
	}

	.ReceiverMessage {
		width: 100%;
		border-radius: 25px;
		display: flex;
		justify-content: flex-start;

		p {
			min-width: 5rem;
			background: #E5E5EA;
			color: black;
			padding: 10px 20px;
			border-radius: 25px;

		}
	}
}
